main{
  min-height: 100vh;
  position: static;
  left: 74px;
  min-width: calc(100vw - 73px);
  display: flex;
  flex-direction: column;
}

#post-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-post{
  border-bottom: 1px solid rgb(104, 104, 104);
  margin-bottom: 11px;
  padding-bottom: 11px;
  max-width: 486px;
}
.post-img{
  width: 486px;
  height: 585px;
}

.post-title-bar{
  display: flex;
  flex-direction: column;
}

.post-header{
  display: flex;
  flex-direction: row;
}

.post-author-timestamp-container{
  display: flex;
  flex-direction: column;
}

.post-avatar{
  height: 50px;
  width: 50px;
}