#maincol{
  position:fixed;
  top:0;
  bottom:0;
  left:81px;
  right:0;
  overflow-y:scroll;
  max-width: calc(100vw - 81px);
  display: flex;
  justify-content: center;
  min-width: 40vw;
}
.post-avatar{
  width: 50px;
  height: 50px;
}
.post-img{
  height:500px;
  width: 500px;
}