.openp-root{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.171);
  z-index: 555;
  overflow: hidden;
}
.openp-closebtn{
  position: fixed;
  z-index: 1001;
  right: 25px;
  top: 25px;
  height: 50px;
  width: 50px;
}
.openp-container{
  display: flex;
  flex-direction: row;
  z-index: 1100;
  position: relative;
  max-height: 650px;
  width: 950px;
  height: 90%;
  background-color: #161616;
  margin: auto;
  margin-top: 100px;
}
.openp-comment-container{
  width: 350px;
}
.openp-header{
  width: inherit;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}
.openp-img{
  height: 650px;
  width: 600px;
  object-fit: cover;
}
.openp-avatar{
  width: 50px;
  height: 50px;
}